//COLORS
$color-white: #fff;
$color-text: #787C8F;
$color-button: #FF467F;

$color-purple-dark: #23134D;
$color-purple-light: #5A4FD1;
$color-darkblue: #04031F;

//GUTTERS
$sm-gutter: 1rem;

//Font-size
$normal: 1rem;
